body{
	font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    line-height: 1.7;
    font-size: 16px;
    color: #404040;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    line-height: 1.7;
    line-height: 1.1;
    font-weight: 700;
}
/*header start*/
.navbar-custom {
    background: 0 0;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    line-height: 1.7;
}

.page-header{
	background: no-repeat center center;
    background-color: gray;
    /*背景图像是随对象内容滚动*/
    background-attachment: scroll;
    /*图片放大铺满*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0px;
}
.site-heading {
	color: #fff;
	text-align: center;
    margin: 120px 0px;
}
.site-heading h1{
	line-height: 1.1;
	/*margin-top: 0;*/
    font-size: 50px;
    font-weight: bolder;
}
.site-heading h1 a{
	color: #fff;
}
.site-heading h1 a:hover{
	text-decoration: none;
}
.page-header .subheading{
	font-size: 18px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
}
/*header end*/

/*main list start*/
.post-preview>a>.post-title {
	color: black;
	font-size: 21px;
	line-height: 1.3;
	margin-top: 30px;
	margin-bottom: 8px;
}
.post-preview>a:hover{
	text-decoration: none;
}
.post-preview>a>.post-subtitle {
	color: black;
	font-size: 15px;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
	margin-bottom: 10px
}
.post-preview>a>.post-title:hover,.post-preview>a>.post-subtitle:hover{
	color:#0085a1;
}
.post-content-preview {
	font-size: 13px;
	font-style: italic;
	color: #a3a3a3
}
.post-content-preview:hover{
	text-decoration: none;
	color: #0085a1;
}

.post-preview>.post-meta {
	font-family: Lora,'Times New Roman',serif;
	color: gray;
	font-size: 16px;
	font-style: italic;
	margin-top: 0
}
.post-preview>.post-meta>a {
	text-decoration: none;
	color: #404040
}
/*main list end*/

/*right start*/
.sidebar-container{
	font-size: 14px;
}
.sidebar-container a{
	color:#888;
}
.sidebar-container a:hover{
	color:#0085a1;
}
.sidebar-container .tags a ,.site-heading .tags a{
    display: inline-block;
    border: 1px solid #bfbfbf;
    border-radius: 999em;
    padding: 0 10px;
    color: #888;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
    margin-bottom: 6px;
}
.sidebar-container .tags a:hover,.site-heading .tags a:hover{
	 border: 1px solid #0085a1;
	 color: #0085a1;
}
.short-about img{
	max-width: 90%;
}

/*right end*/

/*footer start*/
footer{
	margin-top: 40px;
	margin-bottom: 60px;
}
footer a{
	color:#888;
}

/*footer end*/

/*postBody start*/
.postBody img{
	max-width: 95%;
}
.postBody span{
	word-break:normal; 
	width:auto; 
	display:block; 
	white-space:pre-wrap;
	word-wrap : break-word ;
	overflow: hidden ;
}